{% extends 'base.html' %}

{% block content %}

<h1>Signup</h1>
<p class="error"</p>
<form method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
                <span class="error">{{ error }}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                <span class="error">{{ error }}</span>
            </td>
        </tr>

    </table>

<input type="submit">
</form>
<p>"Dont't have an account?"
    <a href="/signup">Create one!</a>
</p>

{% endblock %}
